{% extends "layout.html" %}

{% block title %}
    Portflio
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Symbols</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">TOTAL</th>
      </tr>
    </thead>
    <tbody>
    {% for row in database %}
      <tr>
        <td>{{ row["symbols"] }}</td>
        <td>{{ row["shares"] }}</td>
        <td>{{ row["price"] }}</td>
        <td>{{ row["shares"] * row["price"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <th scope="1">CASH</th>
            <th scope="1">{{ cash }}</th>
        </tr>
      </tfoot>
  </table>
{% endblock %}
