{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Stock Quote</h1>
    {% if price %}
        <p>Name: {{ name }}</p>
        <p>Symbol: {{ symbol }}</p>
        <p>Price: {{ price|floatformat(2) }}</p>
    {% endif %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Get Quote</button>
    </form>
{% endblock %}
